<!DOCTYPE HTML>
<html>
<head>
    <link rel="icon" href="/img/sun.png">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>I am Kutay Murat Kasman. This website gets real time data from weatherstack.com and mapbox.com</p>
    <img id="linkedinIm" src="/img/myLinkedinImage.jpg" alt="My Photo">
    </div>
    {{>footer}}
</body>
</html>
